{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",
    "RESEND_API_KEY": "",
    "RESEND_FROM": "Sentium <hello@sentium.app>",
    "SUPPORT_EMAIL": "support@sentium.app",
    "STORAGE_CONNECTION_STRING": ""
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*",
    "CORSCredentials": false
  }
}
